{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Joey LIU | SHORTEN URL</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'shortener/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shortener/css/base.css' %}">
        <body>
            <img id="bkgd" src={% static 'shortener/img/background.png' %}>
            {% block content %}{% endblock %}
            <footer>
                <div class="poweredby container" align="middle">
                    <ul class="clearfix">
                        <li>
                            <a href="https://github.com/ddrsmile/myshortenurl" data-toggle="tooltip" title="Github | My Shorten URL">
                                <img src={% static 'shortener/img/github.png' %}>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.freepik.com/free-photos-vectors/background" data-toggle="tooltip" title="Background vector designed by Harryarts - Freepik.com">
                                <img src={% static 'shortener/img/freepik.png' %}>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.udemy.com/try-django-1-10/learn/v4/overview" data-toggle="tooltip" title="Try Django 1.10 | Create a URL Shortening Service">
                                <img src={% static 'shortener/img/udemy.png' %}>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.djangoproject.com/" data-toggle="tooltip" title="django">
                                <img src={% static 'shortener/img/django.png' %}>
                            </a>
                        </li>
                        <li>
                            <a href="http://getbootstrap.com/" data-toggle="tooltip" title="Bootstrap">
                                <img src={% static 'shortener/img/bootstrap.png' %}>
                            </a>
                        </li>
                        <li>
                            <a href="https://jquery.org/" data-toggle="tooltip" title="jQuery">
                                <img src={% static 'shortener/img/jquery.png' %}>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
            <script type="text/javascript" src="{% static 'shortener/js/jquery-1.12.4.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'shortener/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'shortener/js/jquery.validate.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'shortener/js/validate.custom.js' %}"></script>
            <script>
                $( function() {
                    $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();
                        {% block doc_ready %}{% endblock %}
                    });
                } );
                </script>
                <style>
                label {
                    display: inline-block;
                    width: 5em;
                }
            </style>
        </body>
    </head>
</html>
