{% extends "./base.html" %}

{% block content %}
<div class="outter">
    <div class="middle">
        <div class="logo-name"><a href="/"><h1>Joey Liu | SHORTEN URL</h1></a></div>
        <div class="inner">
            <form id="main" method='POST' class="clearfix" action='.'>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
                {% endfor %}
                {% if not request.user.is_authenticated %}
                    <input type="text" id="username" name="username" placeholder="USER NAME" />
                    <input type="password" id="password" name="password" placeholder="PASSWORD" />
                {% else %}
                    <a href="/logout/" class="btn btn-custom btn-logout">LOGOUT</a>
                {% endif %}
                <button class="btn btn-custom" type='submit'>SHORTEN</button>
            </form>
        </div>
    </div>
</div>
{% if emsg %}
<div id="error-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Authentication Error</h4>
      </div>
      <div class="modal-body">
        <p>{{ emsg }}</p>
      </div>
    </div>

  </div>
</div>
{% endif %}
{% endblock %}

{% if emsg %}
{% block doc_ready %}
    $('div#error-modal').modal('show');
    setTimeout(function() {
        $('div#error-modal').modal('hide');
    }, 3000);
{% endblock %}
{% endif %}